---
import Section from "./Section.astro";
---
<Section id="work" title="Where I’ve Worked">
  <div class="mt-4 space-y-4 text-zinc-700 dark:text-zinc-300">
    <p>Explore my recent work across:</p>
    <ul class="list-disc pl-6 space-y-1">
      <li><a href="#experience" class="underline hover:text-[#15543c]">Experience</a></li>
      <li><a href="#projects" class="underline hover:text-[#15543c]">What I’ve Done</a></li>
      <li><a href="#blog" class="underline hover:text-[#15543c]">Blog</a></li>
    </ul>
  </div>
</Section>
